@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.github-link {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 700;
}
